.communitySection2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.communitySection2 div div:nth-child(1) {
  font-size: 30px;
  padding-bottom: 10px;
}
.communitySection2 div div:nth-child(2) {
  color: gray;
  font-size: 14px;
  padding-bottom: 30px;
}
/* 공지사항 */
.Notice {
  width: 1020px;
  margin: 30px auto;
}
.Notice table {
  width: 100%;
  height: auto;
  border-top: 2px solid black;
  font-size: 14px;
}
.Notice tr {
  border-bottom: 1px solid rgb(224, 223, 223);
  cursor: pointer;
  height: 50px;
}
.Notice td {
  color: #8b8b8b;
}
.Notice td:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}
.Notice td:nth-child(2):hover {
  color: #333333;
}
/* 제목줄 */
.Notice table tr:nth-child(1) {
  background-color: rgb(236, 236, 236);
  cursor: default;
}
.Notice th {
  color: #777;
}

/* search bar */
.search {
  width: 1020px;
  margin: auto;
  padding-bottom: 50px;
}
.search select {
  height: 25px;
  color: #8b8b8b;
  border: 1px solid #8b8b8b;
  font-size: 13px;
}
.search input[type="text"] {
  height: 25px;
  border: 1px solid #8b8b8b;
}
.search input[type="image"] {
  border: 1px solid #8b8b8b;
  width: 26px;
}
.search td {
  padding-left: 3px;
}
.search td:nth-child(3) {
  padding-top: 5px;
}

/* 공지사항 상세 */
.NoticeContent {
  width: 1020px;
  margin: auto;
  margin-top: 30px;
  border-top: 2px solid black;
}
.NoticeContent table {
  width: 100%;
  font-size: 14px;
}
.NoticeContent tr {
  border-bottom: 1px solid rgb(207, 207, 207);
  height: 50px;
}
.NoticeContent th {
  background-color: rgb(241, 241, 241);
  width: 20%;
}
.NoticeContent td {
  color: #777;
  text-align: left;
  padding-left: 5px;
}
.NoticeContent div:last-child {
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
}
.list {
  text-align: start;
  width: 1020px;
  margin: auto;
}
button {
  padding: 10px 15px 100px;
  background-color: transparent;
  border: none;
}

@media (max-width: 1024px) {
  .Notice {
    width: 100%;
  }
  .Notice table {
    font-size: 13px;
  }
  .NoticeContent {
    width: 100%;
  }
  .NoticeContent table {
    font-size: 13px;
  }
  button {
    margin-bottom: 60px;
  }
  .list {
    width: 100%;
  }
}