.main {
  padding: 15px;
}
table {
  width: 400px;
}
table tr:nth-child(1) {
  background-color: black;
  color: #fff;
  font-weight: bold;
  height: 50px;
}
table tr:nth-child(1) td {
  padding-left: 10px;
}
table tr:nth-child(2) td {
  font-size: 12px;
  padding: 20px 0;
}
table tr:nth-child(3) {
  height: 40px;
  background-color: rgb(253, 242, 232);
}
input[type="password"] {
  width: 200px;
  height: 20px;
  text-align: left;
  font-size: 12px;
  padding-left: 5px;
}
div div:nth-child(2) {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
div div:nth-child(3) {
  margin-top: 80px;
  text-align: right;
  height: 30px;
  background-color: rgb(236, 236, 236);
}
.popBtn {
  border: none;
  background-color: transparent;
}
