.communitySection2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.communitySection2 div div:nth-child(1) {
  font-size: 30px;
  padding-bottom: 10px;
}
.communitySection2 div div:nth-child(2) {
  color: gray;
  font-size: 14px;
  padding-bottom: 30px;
}

.main {
  width: 1020px;
}
/* 묻고답하기 */
.qna table {
  width: 100%;
  /* height: 300px; */
  border-top: 2px solid black;
  font-size: 15px;
}
.qna tr {
  height: 50px;
  border-bottom: 1px solid rgb(236, 236, 236);
  cursor: pointer;
}
.qna th {
  cursor: default;
  font-size: 14px;
}
.qna td:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}
.qna table tr:nth-child(1) {
  background-color: rgb(236, 236, 236);
}
.qna td {
  color: #777;
}

.write {
  text-align: end;
  /* width: 1020px;
  margin: auto; */
  padding: 30px 0;
}
button {
  border: none;
}

/* search bar */
.search > div {
  text-align: right;
}
.search {
  padding-bottom: 100px;
}
.search select {
  height: 25px;
  color: #8b8b8b;
  border: 1px solid #8b8b8b;
  font-size: 13px;
}
.search input[type="text"] {
  width: 150px;
  height: 25px;
  border: 1px solid #8b8b8b;
}
.search input[type="image"] {
  width: 26px;
  border: 1px solid #8b8b8b;
}
.search td {
  padding-left: 3px;
}
.search td:nth-child(3) {
  padding-top: 5px;
}
.search img {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
  }
  .qna table {
    font-size: 13px;
  }
  .search {
    padding-bottom: 50px;
  }
}